---
layout: default
title: Talks
permalink: /talks/
band: gray
centered: true
description: >-
  Conference talks, invited seminars and session organisation by Ado Farsi at WCCM,
  ECCOMAS, USNCCM, ARMA, AGU, EGU and other international venues.
---
<article class="page measure{% if page.centered %} centered-head{% endif %}">
  <header>
    <h1>Talks</h1>
  </header>
  {% assign groups = site.data.dissemination | group_by_exp: "t", "t.date | split: ' ' | last" %}
  {% for g in groups %}
  <div class="year-h">{{ g.name }}</div>
  <ul class="ref-list">
    {% for t in g.items %}
    <li class="ref">
      <span class="ref-id">[{{ t.id }}]</span>
      <span class="ref-body">
        {{ t.name }}.
        <em>{% if t.location != "" %}{{ t.location }} {% endif %}({{ t.date }})</em>.
        {{ t.contribution | markdownify | remove: "<p>" | remove: "</p>" | strip }}{% if t.title != "" %}:
        {% if t.link != "" %}<a href="{{ t.link }}">&ldquo;{{ t.title }}&rdquo;</a>{% else %}&ldquo;{{ t.title }}&rdquo;{% endif %}{% endif %}.
      </span>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</article>
